Assingment 1.1: WAP to print your name three times

In [ ]:
print("tisnoor")
print("tisnoor")
print("tisnoor")

tisnoor
tisnoor
tisnoor

Assingment 2.1: WAP to add three numbers and print the result.

In [1]:
a=2
b=4
c=5
sum=a+b+c
print("the sum of above three number are : ",sum)

the sum of above three number are :  11

Assingment 2.2: WAP to concatinate three strings and print the result.

In [2]:
a="tisnoor "
b="gm, "
c="hi ! "
sum=a+b+c
print("concatinated string is : ",sum)

concatinated string is :  tisnoor gm, hi !

Assingment 4.1: WAP to print the table of 7, 9.

In [ ]:
print("table of 7 is -> ")
print()
for i in range(1,11):
  print("7 * ", i ,"  =  " , i*7)
print()
print("table of 9 is -> ")
print()
for i in range(1,11):
  print("9 * ", i ,"  =  " , i*9)

table of 7 is ->

7 *  1   =   7
7 *  2   =   14
7 *  3   =   21
7 *  4   =   28
7 *  5   =   35
7 *  6   =   42
7 *  7   =   49
7 *  8   =   56
7 *  9   =   63
7 *  10   =   70

table of 9 is ->

9 *  1   =   9
9 *  2   =   18
9 *  3   =   27
9 *  4   =   36
9 *  5   =   45
9 *  6   =   54
9 *  7   =   63
9 *  8   =   72
9 *  9   =   81
9 *  10   =   90

Assingment 4.2: WAP to print the table of n and n is given by user.

In [ ]:
n=int(input("enter the number to write the table"))
print("table of ", n ," is -> ")
print()
for i in range(1,11):
  print(n , " * ", i ,"  =  " , i*n)

enter the number to write the table6
table of  6  is ->

6  *  1   =   6
6  *  2   =   12
6  *  3   =   18
6  *  4   =   24
6  *  5   =   30
6  *  6   =   36
6  *  7   =   42
6  *  8   =   48
6  *  9   =   54
6  *  10   =   60

Assingment 4.3: WAP to add all the numbers from 1 to n and n is given by user.

In [ ]:
n=int(input("enter the no "))
sum=0
for i in range(1,n+1):
  sum=sum+i
print("the sum of first n natural numbers are: ",sum)

enter the no 4
the sum of first n natural numbers are:  10

Assingment 5.1: WAP to find max amoung three numbers and input from user. [Try max() function]

In [3]:
a=int(input("enter the first number "))
b=int(input("enter the second number "))
c=int(input("enter the third number "))
max1=max(a,b)
max_ele=max(max1,c)
print("the maximum among all three number is : ",max_ele)

enter the first number 5
enter the second number 3
enter the third number 9
the maximum among all three number is :  9

Assingment 5.2: WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [ ]:
n=int(input("enter the no "))
sum=0
for i in range(1,n+1):
  if(i% 7==0 and i%9==0):
    sum=sum+i
print("the sum is : ",sum)

enter the no 100
the sum is :  63

Assingment 5.3: WAP to add all prime numbers from 1 to n and n is given by the user.

In [ ]:
n=int(input("enter the no "))
sum=0
for i in range(1,n+1):
  f=0
  for j in range(2,i//2+1):
    if(i%j==0):
      f=1
  if(f==0):
    sum=sum+i
print("the sum is : ",sum)

enter the no 100
the sum is :  1061


Assingment 6.1: WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [ ]:
def sum_of_odd_numbers(n):
  s=0
  for i in range(1,n+1):
    if(i%2!=0):
      s=s+i
  return s

n=int(input("enter the ending limit "))
sum=sum_of_odd_numbers(n)
print("the sum is : ",sum)

enter the ending limit 100
the sum is :  2500

Assingment 6.2: WAP using function that add all prime numbers from 1 to n, n given by the user.

In [ ]:
def sum_of_prime_numbers(n):
  s=0
  for i in range(1,n+1):
    f=0
    for j in range (2,i//2 +1):
      if i%j==0:
        f=1
    if(f==0):
      s=s+i
  return s

n=int(input("enter the ending limit "))
sum=sum_of_prime_numbers(n)
print("the sum is : ",sum)

enter the ending limit 11
the sum is :  29